#preload { text-align: center; }

body {
  font-family: "Ubuntu Sans", sans-serif;

  background: #1f354f; /* Old browsers */
  /* #121518 to #1f354f */
  background: -moz-linear-gradient(top,  #1f354f 0%, #121518 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f354f), color-stop(100%,#121518)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1f354f 0%,#121518 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1f354f 0%,#121518 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1f354f 0%,#121518 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1f354f 0%,#121518 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f354f', endColorstr='#121518',GradientType=0 ); /* IE6-9 */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*******************************************************************************
 *** Top/Header Bar ***
 **/

.ui header {
  border-bottom: 1px solid #444;
  margin-bottom: 1em;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 0 25px 5px rgba(0,0,0,0.3);
}

header h1 {
  margin: 0;
  padding: 4px 0.5em;
  text-transform: lowercase;
  color: #ddd;
  font-size: 100%;
  font-weight: normal;
}

/*******************************************************************************
 *** Modal Dialogs ***
 **/

.dialog {
  width: 400px;
  padding: 1em;
  margin: 0 auto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background: #ddd;
  /*background: -moz-linear-gradient(top, rgb(200,200,200) 0%, rgb(210,210,210) 25%, rgb(150,150,150) 100%);*/

  box-shadow: 0 5px 25px 5px rgba(0,0,0,0.5);
}

.dialog h2 {
  margin: 0;
  text-align: center;
  text-transform: lowercase;
  font-size: 200%;
}

.dialog label, .dialog input, .dialog button {
  display: inline-block;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dialog label  { width: 30%;  color: #333; font-size: 120%; text-align: right; padding-right: 1em; }
.dialog input  { width: 70%;  font-size: 150%; padding: 5px; }
.dialog button { width: 100%; color: #333; font-size: 150%; padding: 5px; display: block; }
